.App {
  text-align: center;
  color: #c71585;
}

#Header {
  height: 120px;
  text-align: left;
  font-size: 25px;
  padding: 10px;
}

#Header i {
  color: #c71585;
  font-size: 50px;
  display: block;
}

#Header .navbar-right li {
  padding-right: 20px;
  font-size: 15px;
  text-align: center;
}

#Header .navbar-right li i {
  font-size: 25px;
}

#Header .navbar-right li a:hover {
  text-decoration: none;
  color: #c10d7e;
  text-transform: uppercase;
}

#Header .navbar-right li a:visited {
  color: #c71585;
}

#Footer {
  background: #c71585;
  height: 75px;
  text-align: center;
  font-size: 12px;
  padding: 2em;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #Header {
    height: 90px;
    font-size: 15px;
  }

  #Header i {
    font-size: 30px;
  }

  #Header .navbar-right li {
    padding-right: 15px;
    font-size: 10px;
  }

  #Header .navbar-right li i {
    font-size: 20px;
  }

  #Footer {
    background: #c71585;
    height: 75px;
    text-align: center;
    font-size: 12px;
    padding: 1em;
    color: white;
  }
}

#SignUpForm,
#Login {
  padding: 2em;
  color: #c71585;
}

#SignUpForm,
#Login {
  border-top: 3px #c71585 solid;
  text-transform: uppercase;
  font-weight: 600;
}

#SignUpForm i,
#Login i {
  font-size: 50px;
  margin-bottom: 20px;
}

#SignUpForm button,
#Login button {
  margin-top: 1em;
  width: 150px;
  background: #c71585;
  color: #f1f1f1;
  padding: 10px;
}

#Map {
  width: 100%;
  height: 635px;
  background-color: grey;
  border-top: 2px #c71585 solid;
  border-bottom: 2px #c71585 solid;
}

#Options .options {
  display: flex;
  justify-content: center;
  background-color: #c71585;
  position: relative;
}

#Options .options > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

#Options .options > div a {
  color: #c71585;
  text-decoration: none;
}

#Options .options > div .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

#Options .options > div:hover .overlay {
  opacity: 1;
}

/* Error Message */
.error-message {
  color: red;
  text-transform: none;
}

.result-card {
  background: #c71585;
  color: white;
  padding: 1em;
  margin-bottom: 0.5em
}

.result-card .btn, .organization .btn {
  color: #c71585;
  background: white;
}

.result-header {
  padding: 1em;
  border-top: 2px #c71585 solid;
}

.result {
  padding-left: 2em;
  padding-right: 2em;
}

ul {
  list-style-type: none;
  text-align: left;
}